// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h2 {
  text-align: center;
}
#chat-message-list-holder {
  overflow: scroll;
  height: 50vh;
  width: 100%;
  max-width: 600px !important;
  margin: 30px auto;

  #chat-message-list {
    td {
      border: none;

      .chat-message-holder {
        display: flex;

        .chat-message {
          width: 300px;
          padding: 15px 40px;
          background-color: #c9ebf6;
          border-radius: 10px;
          }

        &.left {
          justify-content: flex-start;
        }
        &.right {
          justify-content: flex-end;
        }
      }
    }
  }
}
#chat-message-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  input[type=text] {
    margin: 0 10px;
    width: 300px;
  }
}
#chat-message-error {
  text-align: center;
}